* {
    text-decoration: none;
    color:white;
}

.menu {
    font-size: 1.2em;
    font-weight: bold;
    padding-right: 10px;
}

ul {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    padding: 0 40px;
    list-style-type: none;
    width: 400px;
}

.activelink {
    font-weight: bold;
    color: rgba(240, 226, 134, 0.9);
}