.menu {
    font-size: 1.2em;
    font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

* {
    text-decoration: none;
    color: black;
}

.activelink {
    font-weight: bold;
    color: blue;
}