.tasklist {
    background: rgba(244, 243, 235, 0.9);
    color: black;
    
    width: 60%;
    height: 100%;
    margin: 20px auto;
    margin-top: 5%;
    margin-bottom: 5%;
    

}

.tasklist h2 {
    color: black;
    margin: 0px 20px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .tasklist {
        width: 50%;   
    }
}