.card {
    background-color: #e6e7ed;
    /* box-shadow: 5px 1px 5px 8px #e6e7ed; */
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.card h5 {
    color: black;
    margin: 10px 0 0 20px;
    padding: 5px;
}

.card p {
    margin: 10px 0 0 20px;
    padding: 5px;
    color: black;
}

.btn-delete {
    background: rgba(249, 140, 140, 0.858);
    color: black;
    padding: 15px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}