.card {
    border: 5px solid red;
    padding: 20px;
    margin: 10px;
}

.btn-delete {
    background-color: red;
    color: black;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}